*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
/config.*
/lib/fribidi-config.h
/test/test
/stamp-h1
/configure
/aclocal.m4
/autom4te.cache
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/compile
/fribidi.pc
/m4
/bin/**
